/*-----------------------------------------------Full Site       */

html {
    font-family: 'Baloo Bhai', cursive;
}

body {
    background-image: url("/images/hasbrobg.png");
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
}

/*------------------------------------------ Nav Bar             */

.main-nav {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
}

/*------------------------------------------ Transitions/Hover states  */

.nav-item-transition {
    padding: 1em;
    width: 30px;
    height: 30px;
    left: 0;
    background-color: #99ccff;
    position: relative;
}

.nav-item-transition:active {
    left: 30px;
    background-color: #0066cc;
    -webkit-transition-property: background-color, left;
    transition-property: background-color, left;
    -webkit-transition-duration: 1s, 1s;
    transition-duration: 1s, 1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.80, .1, .12, 1);
    transition-timing-function: ease-out, cubic-bezier(.80, .1, .12, 1);
}

#green:active,
#red:active,
#yellow:active,
#blue:active {
    -webkit-transition: width height 1s ease-in-out;
    transition: width height 1s ease-in-out;
    width: 260px;
    height: 260px;
}

/*------------------------------------------ Simon Game               */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.toggle {
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border-radius: 50%;
    font-size: 1.5em;
    font-family: 'Baloo Bhai', cursive;
    background-color: lightgray;
    border: 2px solid;
}

#switches {
    position: absolute;
    margin-left: 26px;
    margin-top: 110px;
    border-radius: 20px;
}

.text2 {
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
}

.text1 {
    position: absolute;
    font-family: 'Baloo Bhai', cursive;
    margin-left: 19px;
    margin-top: 142px;
}

.text1 span:last-child {
    padding-left: 90px;
}

#name {
    position: absolute;
    font-size: 40px;
    font-family: 'Baloo Bhai', cursive;
    margin-left: 50px;
    margin-top: 40px;
    color: black;
}

#turn {
    background: #330000;
    color: red;
    font-size: 20px;
    font-family: 'Baloo Bhai', cursive;
    width: 100px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border: 5px solid;
}

#outer-circle {
    background: black;
    border-radius: 50%;
    height: 550px;
    width: 550px;
    position: relative;
    border: 10px solid black;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
}

#green {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    background: #009933;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border: 10px solid black;
    box-sizing: border-box;
}

#red {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    background: #990000;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border: 10px solid black;
    box-sizing: border-box;
}

#yellow {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    background: #999900;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border: 10px solid black;
    box-sizing: border-box;
}

#blue {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    background: #000099;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border: 10px solid black;
    box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    font-family: cursive;
    background: silver;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 10px solid black;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
}
