@import url('https://fonts.googleapis.com/css?family=cursive|Open+Sans:300');

/*-----------------------------------------------Full Site     */

html {
    font-family: 'cursive', sans-serif;
}

body {
    background-image:url("/images/bgrepeat.jpg");
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
}

/*------------------------------------------ Nav Bar  */

.main-nav {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

/*------------------------------------------ Transitions/  */

.nav-item-transition {
    padding: 1em;
    width: 30px;
    height: 30px;
    left: 0;
    background-color: #99ccff;
    position: relative;
    -webkit-transition-property: background-color, left;
    transition-property: background-color, left;
    -webkit-transition-duration: 1s, 1s;
    transition-duration: 1s, 1s;
    -webkit-transition-timing-function: ease-out, cubic-bezier(.80, .1, .12, 1);
    transition-timing-function: ease-out, cubic-bezier(.80, .1, .12, 1);
}

.nav-item-transition:hover {
    left: 30px;
    background-color: #0066cc;
}

#topleft:hover,
#topright:hover,
#bottomleft:hover,
#bottomright:hover {
    border: 2px solid black;
}

/*------------------------------------------ Simon Game/  */

.logo {
    width: 20%;
    height: 20%;
}

.toggle {
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border-radius: 50% !important;
    font-size: 1.5em;
    font-family: cursive;
    background-color: lightgray;
}

#switches {
    position: absolute;
    margin-left: 26px;
    margin-top: 110px;
}

.text2 {
    text-align: center;
    font-family: cursive;
}

.text1 {
    position: absolute;
    font-family: cursive;
    margin-left: 19px;
    margin-top: 142px;
}

.text1 span:last-child {
    padding-left: 70px;
}

#title {
    position: absolute;
    font-size: 40px;
    font-family: cursive;
    margin-left: 35px;
    margin-top: 40px;
}

#turn {
    background: #330000;
    color: red;
    font-size: 20px;
    font-family: cursive;
    width: 80px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#outer-circle {
    background: #385a94;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 60px;
    box-shadow: 8px 8px 15px 5px #888888;
}

#topleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    background: #009933;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    box-sizing: border-box;
}

#topright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    background: #990000;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    box-sizing: border-box;
}

#bottomleft {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    background: #999900;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    box-sizing: border-box;
}

#bottomright {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    background: #000099;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    box-sizing: border-box;
}

#inner-circle {
    position: absolute;
    font-family: cursive;
    background: grey;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
}



